/*
Je définis des styles généraux pour le corps de ma page : body
Je peux donc utiliser le sélecteur de balise HTML car je n'ai qu'une balise body
dans ma page.
Le sélecteur de balise HTML consiste simplement à écrire le nom de la balise, sans préfixe, sans suffixe, ni rien d'autre. Juste le nom de la balise.
Le règles CSS que je souhaite appliquer à ma balise body se trouveront donc entre les accolades.
*/
body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin: 0;
  padding-top: 4em;
}

#content {
  /*
  Largeur maximale : 900px
  Si on est en-dessous de 900px, le texte reviendra à la ligne et s'adaptera
  */
  max-width: 900px;
  margin: auto;
}

#content img {
  max-width: 100%;
}

h1,
h2 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 3.2em;
}

h2 {
  font-size: 1.7em;
  text-transform: uppercase;
}

#main-menu {
  background-color: #305364;
  padding-top: 1em;
  padding-bottom: 1em;
  font-family: "Roboto", sans-serif;
  position: fixed;
  width: 100%;
  top: 0;
}

#main-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#main-menu a {
  color: #fff;
  text-decoration: none;
}

.centered {
  text-align: center;
}

.bold {
  font-weight: 700;
}

.quote {
  color: #aaa;
  padding-left: 1em;
  border-left: 4px solid #68c3ff;
}
